# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches & Environments
.pytest_cache/
.coverage
.env
venv/
env/
.venv/

# OS / Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/
